:root {
        --menu-color: #00000045;
        --lyrics-color: white;
        --spotify-color: #24bb59;
        --spotify-darker-color: #1a7c3c;
        --font-family: "Montserrat", sans-serif;

        --wave-duration: 1s;
        --wave-amplitude: 10px;
        --wave-delay-step: 0.08s;
        /* --wave-ease: cubic-bezier(.2,.9,.3,.95); */
        --wave-ease: ease-in-out;

        --general-padding: 0 1rem 0 1rem;
}

html,
body {
        margin: 0;
        padding: 0;
        font-family: var(--font-family);
        overflow: hidden;
        background: #212121;
}

#music-player {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        backdrop-filter: blur(64px);
}

#console {
        position: absolute;
        top: 0;
        left: 0;
}

#error {
        padding: var(--general-padding);
        max-width: 90vw;
        width: 90vw;
}

#error #message {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
}

#lyrics-provider {
        position: absolute;
        bottom: 5px;
        left: 5px;
        margin: 0;
        padding: 0;
}

#lyrics-content {
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 85vh;
        text-align: left;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: var(--general-padding);
        max-width: 90vw;
        width: 90vw;
}

/* .title {
            display: flex;
            flex-wrap: wrap;
            white-space: pre;
            overflow-wrap: break-word;
            max-width: 100vw;
        } */

.sub-title {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        /* opacity: inherit; */
        justify-content: flex-end;
        /* white-space: pre; */
        /* overflow-wrap: break-word; */
        /* max-width: 100vw; */
}

.centered {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 2.2em;
}

.actual-lyric {
        display: flex;
        flex-wrap: wrap;
        /* white-space: pre; */
}

.word_span {
        display: flex;
        flex-wrap: wrap;
        /* width: fit-content; */
        margin-right: 0.25em;
}

.actual-lyric .char_span {
        /* display: inline-block; */
        animation: wave var(--wave-duration) var(--wave-ease);
        /* cicle 1.3s ease-in-out infinite; */
        /* white-space: pre; */
        color: var(--spotify-color);
        text-shadow: 0px 0px 20px var(--spotify-color);
}

.actual-lyric .char_span:nth-child(odd),
.actual-lyric .char_span:nth-child(even) {
        animation-delay: calc(var(--i) * var(--wave-delay-step));
}

#lyrics-content::-webkit-scrollbar {
        display: none;
}

.text-dark {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.2;
}

.text-light {
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
}

h2 {
        margin: 10px 10px 5px 10px;
        margin-bottom: 5px;
        font-size: 1.8em;
}

h3 {
        margin: 5px;
        font-size: 1.5em;
}

#particles-js {
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
}

@keyframes wave {
        0% {
                transform: translateY(0);
        }
        50% {
                transform: translateY(calc(-1 * var(--wave-amplitude)));
        }
        100% {
                transform: translateY(0);
        }
}

@keyframes cicle {
        0% {
                text-shadow: 0px 0px 10px var(--spotify-darker-color);
        }
        50% {
                text-shadow: 0px 0px 10px var(--spotify-color);
        }
        100% {
                text-shadow: 0px 0px 10px var(--spotify-darker-color);
        }
}
